@{
    ViewData["Title"] = "Desenvolvimento de Aplicação 2"; 
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p><b><h3>Exercicios</h3></b></p>
<p>Este projecto terá todos os exercicios resolvidos para o teste do dia  de Maio de 2017 </p>
<p>Os exrcicios estão resovidos até dia 9 de Abril de 2017 (Aula nº7)</p><br />
<a href="Contact">Pagina Pessoal</a>

<p><h3><b><i>Duvidas!!!!!</i></b></h3></p>
<a href="Duvidas">Duvidas</a>
<p><b><i><h2>Links para os exercicios</h2></i></b></p>
<p><b><h4>LAB2</h4></b></p>
<a href="exercicio3um">Exercicio 3.1</a><br />
<a href="exercicio3dois">Exerciicio 3.2</a><br />
<a href="trestres">Exerciicio 3.3</a>

