@{
    ViewData["Title"] = "Dados sobre o Aluno";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<h3><p><b>Aluno:</b></p></h3>
<p>Nancy Mendes</p>
<p><i>150323037</i></p>
<p>Gestao de Sistemas de Informação</p>

<a href="About">Pagina Inicial</a>

