@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p><h1>Duvidas :(</h1></p>
<p><h3>Por-favor Ajuda-me!</h3></p>
<p><h4>LAB2</h4></p>
<p> <ul><li>3.3.8. Adicione links aos títulos criados no ponto anterior que direcionem para as
respetivas zonas da página (pesquise como).</li></ul></p>