@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1><b>Estudo pra o teste 3.2 ficha nº2</b></h1>
<p><h2>Notas Obtidas nas disciplinas que gostou:</h2></p>
<table border="1">
    <tr>
        <td>Disciplinas</td>
        <td>Notas</td>
    </tr>
    <tr>
        <th>CA</th>
        <th>13</th>
    </tr>
    <tr>
        <th>ADSI</th>
        <th>13</th>
    </tr>
    <tr>
        <th>AMD</th>
        <th>13</th>
    </tr>
</table>
<p><b><h2>Instituto Politecnico de Setubal</h2></b></p>
<figure>
    <img src="~/images/ESCE-IPS.png" title="IPS" alt="a minha escola IPS"/>
</figure><br />
<a href="About">Pagina Inicial</a>
<p><a href="exercicio3um">Exercico Anterior</a></p>