@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<title> exercicio3.1 novo</title>
<h1><b>Estudo pra o teste 3.1 ficha nº2</b> </h1>

<p><b><i>Disciplinas que mais gostei</i></b></p>
<ol>
    <li>Cadeias de Abastecimento</li>
    <li>Analise e Desenho de Informação</li>
    <li>Analise Multivariada de Dados</li>
</ol>
<a href="About">Pagina Inicial</a>
<br />
<a href="mailto:nancymendes.nm@gmail.com">Criar um email</a><br />
<a href="exercicio3dois">Proximo Exercicio</a>
