@{
    ViewData["Title"] = "Exercicio 3.1";
}


<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>"LAB2 - Exercício 3.1"</title>
</head>
<body>
    <p> Exercicio 3.1</p>
    <p> <i>Nancy Mendes</i> </p>
    <p> GSI</p>
    <p> <b>150323037</b></p>
    <p> <i> <b>  Disciplinas que mais gostei</b></i></p>
    <ol>
        <li> AMD</li>
        <li>CA</li>
        <li>ADSI</li>
    </ol>
    <p>
        @*Crie um link*@
       <a href="http://moodle.ips.pt/1617/course/view.php?id=915"> Página Pessoal</a>
    </p>
    <p>
        @*crie um link que permita enviar-lhe um email*@
        <a href="mailto:nancymendes.nm@gmail.com">email</a>
    </p>
    <p>
        @*hiperlink*@
        <a href="HTMLPage3.html">Próximo Exercício</a>
    </p>
   
</body>
</html>