@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1><p><b>Estudo pra o teste 3.3 ficha nº2</b></p></h1>

<h2>Indice:</h2>
<div id="Indice">
    <ul>
        <li><h4><a href="exercicio3tres.cshtml#zona1">Codigo Div</a></h4></li>
        <li><h4><a href="exercicio3tres.cshtml#zona2">Caso precise de ajuda pode sempre consultar o w3schools</a></h4></li>
        <li><h4><a href="exercicio3tres.cshtml#zona3">Metodos importante para ter um bom aproveitamento</a></h4></li>
    </ul>
</div>
<div id="zona1">
    <h1>Codigo Div</h1>
    <p>Este exercicio consiste em criar div</p><br />
    <a href="/trestres.cshtml">Voltar</a>
</div>
<div id="zona2">
    <h3>Caso precise de ajuda pode sempre consultar o w3schools</h3>
    <figure>
        <img src="~/images/com.w3schools.app-w250.png" />
    </figure><br />
    <a href="/trestres.cshtml">Voltar</a>
</div>

<div id="zona3">
    <h3>Metodos importante para ter um bom aproveitamento</h3>
    <ol>
        <li>Estudar diariamente</li>
        <li>Estar atento ás aulas</li>
        <li>Ter muita força de vontade</li>
    </ol>
    <p><a href="/trestres.cshtml">Voltar</a></p>
</div>
<a href="exercicio3dois">Exercicio Anterior</a><br />
<a href="exercicio3quatro">Proximo Exercicio</a><br />
<a href="About">Pagina Inicial</a>